.page-title {
    height: 40px;
    display: flex;
    align-items: center;
}

.page-title .page-right {
    position: absolute;
    right: 24px;
}

.page-title .page-left {
    font-size: 20px;
    font-weight: bold;
}

.toolbar {
    margin-top: 16px;
    display: flex;
    width: 100%;
    align-items: center;
    height: 42px;
    /* background-color: #ff0000; */
    justify-content: space-between;
}

.toolbarButton {
    width: 200px;
}

.toolbarSelect select,
input {
    margin-right: 10px;
}

.grid {
    position: absolute;
    right: 24px;
    left: 24px;
    bottom: 60px;
    top: 128px;
    overflow-y: auto;
}

.paging {
    position: absolute;
    bottom: 0;
    height: 60px;
    left: 24px;
    right: 24px;
}

.m-col {
    float: left;
    padding: 0;
    box-sizing: border-box;
    padding: 0;
    width: 49%;
}

.tittleDialog {
    margin: 0;
    text-align: left;
    top: 0;
    font-weight: bold;
    font-size: 15px;
}

.m-row {
    width: 100%;
    display: flex;
    position: relative;
    margin-top: 16px;
    justify-content: space-between;
}

.m-row label {
    display: block;
    float: left;
}